<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.secondBlock.persistence.SportRepository">

    <resultMap id="sportResultMap" type="com.solvd.secondBlock.model.Sport">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
    </resultMap>

    <insert id="create" parameterType="com.solvd.secondBlock.model.Sport">
        INSERT INTO sports (sport_type_id, name, description)
        VALUES (#{sportType.id}, #{name}, #{description})
    </insert>

    <update id="updateById">
        UPDATE sports
        SET sport_type_id = #{updated.sportType.id},
        name = #{updated.name},
        description = #{updated.description}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        DELETE FROM sports
        WHERE id = #{id}
    </delete>

    <select id="findById" resultMap="sportResultMap" parameterType="Long">
        SELECT s.id, s.name, s.description
        FROM sports s
        WHERE s.id = #{id}
    </select>

    <select id="findByParticipantId" parameterType="Long" resultMap="sportResultMap">
        SELECT s.id, s.name, s.description
        FROM sports s LEFT JOIN participants p ON s.id = p.sport_id
        WHERE p.id = #{participantId}
    </select>
</mapper>
