<!-- SportTypeMapper.xml -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.secondBlock.persistence.SportTypeRepository">

    <resultMap id="sportTypeResultMap" type="com.solvd.secondBlock.model.SportType">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="isIndividual" column="is_individual"/>
    </resultMap>

    <select id="findById" parameterType="java.lang.Long" resultMap="sportTypeResultMap">
        SELECT * FROM sport_types WHERE id = #{id}
    </select>

    <insert id="create" parameterType="com.solvd.secondBlock.model.SportType">
        INSERT INTO sport_types (name, is_individual) VALUES (#{name}, #{isIndividual})
    </insert>

    <update id="updateById">
        UPDATE sport_types SET
        name = #{updated.name},
        is_individual = #{updated.isIndividual}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM sport_types WHERE id = #{id}
    </delete>

    <select id="findBySportID" parameterType="Long" resultMap="sportTypeResultMap">
        SELECT sport_type_id as id, st.name as name, is_individual
        FROM sport_types st join sports s ON s.sport_type_id = st.id
        WHERE s.id = #{sportId}
    </select>

</mapper>
