<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="src/com/solvd/secondBlock/persistence/mybatisimpl/SportRepositoryMyBatis">

    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO sports(name, description) VALUES (#{name},#{description})
    </insert>
    <sql id="sportSelect">
        Select s.id as sportId, s.name, s.description, st.id as sportTypeId,
        st.name as sportTypeName, st.is_individual as isIndividual
        from sports s join sport_types st on
        s.sport_type_id=st.id
    </sql>

    <select id="findById" resultMap="SportResultMap">
        <include refid="sportSelect"/>
        where id= #{id}
    </select>

    <update id="updateById">
        UPDATE sports SET name=#{sport.name}, description=#{sport.description} WHERE id=#{sportId}
    </update>
    <delete id="deleteById">
        DELETE from sports where id={#id}
    </delete>

    <resultMap id="SportResultMap" type="com.solvd.secondBlock.model.Sport" autoMapping="false">
        <id column="sportId" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <association property="sportType"
                     resultMap="com.solvd.secondBlock.persistence.mybatisimpl.SportTypeRepositoryMyBatis.SportTypeResultMap"/>
    </resultMap>
</mapper>