<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.secondBlock.persistence.SportRepository">

    <resultMap id="sportResultMap" type="com.solvd.secondBlock.model.Sport">
        <id property="id" column="id"/>
        <result property="sportTypeId" column="sport_type_id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
    </resultMap>

    <!-- Create operation -->
    <insert id="create" parameterType="com.solvd.secondBlock.model.Sport">
        INSERT INTO sports (sport_type_id, name, description)
        VALUES (#{sportTypeId}, #{name}, #{description})
    </insert>

    <!-- Update operation -->
    <update id="updateById" parameterType="java.util.Map">
        UPDATE sports
        SET sport_type_id = #{updatedEntity.sportTypeId},
        name = #{updatedEntity.name},
        description = #{updatedEntity.description}
        WHERE id = #{id}
    </update>

    <!-- Delete operation -->
    <delete id="deleteById" parameterType="Long">
        DELETE FROM sports
        WHERE id = #{id}
    </delete>

    <!-- Retrieve operation -->
    <select id="findById" resultMap="sportResultMap" parameterType="Long">
        SELECT * FROM sports
        WHERE id = #{id}
    </select>

</mapper>
